<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<h1>欢迎使用Web微信:{{init_user_dict.User.NickName}}</h1>
<div>
    <h4>新消息：</h4>
    <p class="msg"></p>
</div>

<a href="{{ url_for(endpoint='contacts')}}" class="btn"> 联系人列表 </a>
<h3>最近联系人</h3>
<ul>
    {% for row in init_user_dict.ContactList %}
    <li>{{row.NickName}}</li>
    {% endfor %}
    <li><a href="#">查看所有联系人</a></li>
</ul>

<h3>最近公众号</h3>
{% for item in init_user_dict.MPSubscribeMsgList %}
<div>
    <h3>{{item.NickName}}</h3>

    <ul>
        {% for msg in item.MPArticleList %}
        <li><a href="{{msg.Url}}">{{msg.Title}}</a></li>
        {% endfor %}
    </ul>
</div>
{% endfor %}

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>

<script>
    $(function () {
        checkmsg();
    });

    function checkmsg() {
        $.ajax({
            url: 'sync_msg',
            type: 'get',
            success: function (result) {
                console.log(result);
                if (result.code === 1000) {
                    $('.msg').html(result.data);
                }
                checkmsg();
            }
        });

    }
</script>


</body>
</html>